/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
}

html {
  color: #3a130a;
  background-color: #f2dfb4;
  font-family: Georgia, sans-serif;
  font-size: 16px;
  margin: 30;
}

img {
  height: 300px;
  width: auto;
  display: block;
}

.time {
  font-weight: 700;
  color: #f45d48;
}

ul {
  list-style-type: square;
}

h1 {
  text-transform: uppercase;
  color: #8A2D3B;
}

h2 {
  font-size: 2em; 
}

a:link {
   color:#2f4f4f ;
}
a:visited {
   color:#696969 ;
}
a:hover {
   color:#00ffff ;
}
a:active {
   color:#b22222 ;
}
footer a:hover {
text-decoration: none;
}
ul, ol {
  margin-left: 25px;
}
/*select html and set the background color, color, font family with fallback, and font size. */
/*change img height to 300px and width to auto*/
/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the li inside of ingredients to list-style: square*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
